{% load static %}
{% block content %}

<h4 class="center-align">Recent articles</h4>

<form action="" class="uk-search" data-uk-search>
  {% csrf_token %}
  <div class="field large prefix round fill">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
      name="q" 
      placeholder="Search recipes by title or content"
      type="search"
    />
  </div>
</form>

{% if request.user.is_authenticated %}
  <div style="margin-bottom: 2rem">
    <a class="link" href="{% url 'create-article' %}">Submit new article</a>
  </div>
{% endif %}

<div class="no-margin">
  {% for article in articles %}
    <article class="no-padding">
      <div class ="grid no-space">
        <div class="s4">
          <a class="center-align middle-align" href="{% url 'read-article' article.id %}">
            {% if article.pictureOf.all.count > 0 %}
              <img 
                style="margin-top: 1.5rem; margin-bottom: 1.5rem" 
                width="200" 
                height="200" 
                src="{% static article.pictureOf.all.first.image.url %}" 
                alt="Recipe picture" 
              >
            {% else %}
              <div class="link absolute top left right padding">
                <h6>{{ article.title }}</h6>
              </div>
            {% endif %}
          </a>
        </div>

        <div class="s8">
          <div class="padding">
            {% if article.pictureOf.all.count > 0 %}
              <h6>{{ article.title }}</h6>
            {% endif %}

            <p class="left">
              {% for category in article.categories.all %}
                <a class="chip fill" href="{% url 'home' %}?cat={{category.name}}">{{category.name}}</a>
              {% endfor %}
            </p>
            
            <p>
              By <a class="link" href="{% url 'user-profile' article.author.user.id %}">
                {{article.author}}
              </a> on {{article.date}}
            </p>

            <div class="small-space"></div>
            
            <p class="large-line">
              {% autoescape off %}{{ article.abstract }}{% endautoescape %}
            </p>
            
            <nav>
              <a class="link" href="{% url 'read-article' article.id %}">Continue Reading</a>
              <div class="max"></div>
              <span>{{article.commentOf.all.count}} Comments</span>
            </nav>
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
</div>


<!-- Pagination -->
{% if art_pages > 1 %}
  <div class="tabs">
    {% if articles.has_previous %}
      <a 
        class="link" 
        href="{% url 'home' %}?art_page={{articles.previous_page_number}}"
      >
        Previous Page
      </a>
    {% else %}
      <a class="link active" aria-disabled>First Page</a>
    {% endif %}
    
    {% if articles.has_next %}
      <a 
        class="link" 
        href="{% url 'home' %}?art_page={{articles.next_page_number}}"
      >
        Next Page
      </a>
    {% else %}
      <a class="link active" aria-disabled>Last Page</a>
    {% endif %}
  </div>
{% endif %}

{% endblock content %}
