{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="grid medium-space">
  <div class="s12 m3 l3">
    {% include 'simple_recipes/categories_component.html' %}
  </div>

  <div class="s12 m9 l9">
    <article class="center-align" style="padding: 1rem 2rem">
      <h5 class="center-align">{{ article.title }}</h5>

      <div>
        {% if article.author.user.id == request.user.id %}
          <a
            class="button small-round" 
            href="{% url 'update-article' article.id %}"
          >
            <span>Edit article</span>
            <i class="fa-regular fa-pen-to-square"></i>
          </a>
          <!-- modal trigger -->
          <button 
            class="small-round error" 
            data-ui="#delete-modal"
          >
            <span>Delete article</span>
            <i class="fa-regular fa-trash-can"></i>
          </button>
          <!-- delete-article modal -->
          <dialog id="delete-modal" class="dialog">
            <h6 class="center-align">Delete article</h6>
            <p class="center-align">
              Are you sure about deleting {{article.title}}?
              <br/>
              This is a permanent action
            </p>
            <nav class="center-align">
              <button class="small-round" data-ui="#delete-modal">
                Cancel
              </button>
              <a 
                class="button small-round error" 
                href="{% url 'delete-article' article.id %}"
                data-ui="#delete-modal"
              >
                Delete
              </a>
            </nav>
          </dialog>
        {% endif %}
      </div>

      <div class="small-space"></div>

      <p class="medium-line medium-align">
        Written by <a href="{% url 'user-profile' article.author.user.id %}">
          {{article.author}}
        </a> on {{article.date}}
        {% for category in article.categories.all %}
          <span class="chip fill">{{category.name}}</span>
        {% endfor %}
      </p>

      {% include 'simple_recipes/carousel_component.html' %}

      <div class="medium-space"></div>

      <p class="medium-line" style="margin: 0.5rem 2rem">
        {% autoescape off %}{{ article.body }}{% endautoescape %}
      </p>

      <div class="small-space"></div>

      <h6>Comments section</h6>

      <!--  Comments form and list  -->
      <div class="medium-line center-align">
        {% if comments.count == 0 and request.user.is_authenticated %}
          <form action="{% url 'create-comment' article.id %}" method="POST">
            {% csrf_token %}
            <div class="field textarea border extra">
              <textarea 
                type="text" 
                maxlength="300" 
                name="new_comment" 
              ></textarea>
              <span class="helper">Be the first one to comment</span>
            </div>
            
            <input 
              class="button small-round" 
              type="submit" 
              value="Submit comment" 
            />
          </form>
        {% else %}
          {% if request.user.is_authenticated %}
            <form action="{% url 'create-comment' article.id %}" method="POST">
              {% csrf_token %}
              <div class="field textarea border extra">
                <textarea 
                  type="text" 
                  maxlength="300" 
                  name="new_comment" 
                ></textarea>
                <span class="helper">Join the conversation</span>
              </div>
              
              <input 
                class="button small-round" 
                type="submit" 
                value="Submit comment" 
              />
            </form>
          {% else %}
            <div class="row">
              <a 
                class="link" 
                href="{% url 'login' %}"
              >
                Login
              </a> or <a 
                class="link" 
                href="{% url 'register' %}"
              >
                Register
              </a> to join the conversation
            </div>
          {% endif %}


          {% for comment in comments %}
            <div class="row">
              {% if comment.commentor.avatar %}
                <img 
                  class="circle tiny" 
                  src="{% static comment.commentor.avatar.url %}" 
                  alt="Commentor avatar"
                >
              {% else %}
                <img 
                  class="circle tiny" 
                  src="{% static 'images/100-HappyPenguin.png' %}" 
                  alt="Generic avatar"
                >
              {% endif %}
              <a class="link" href="{% url 'user-profile' comment.commentor.user.id %}">
                {{ comment.commentor.name }}
              </a>
              <span class="small">on {{comment.date}}</span>
              <p class="max medium-line">
                {{ comment.text }}
              </p>
              {% if comment.commentor.user.id == request.user.id %}
              <a 
                class="small-round error" 
                href="{% url 'delete-comment' article.id comment.id %}"
              >
                <i class="fa-regular fa-trash-can"></i>
              </a>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </article>
  </div>
</div>
{% endblock %}
