{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="s12 m10 l10 center-align">
  {% if article == None %}
    <p class="secondary-container">
      Note: you will be able to create an image gallery after submitting your article
    </p>
  {% endif %}
  
  <h5 class="center-align">
    {% if article %}
      Edit article | <a class="link" href="{% url 'read-article' article.id %}">View your article</a>
    {% else %}
      Create a new article 
    {% endif %}
  </h5>
  
  <p class="secondary-border">
    * Fields with an asterisk are mandatory
  </p>

  {% if article != None %}
    <div>
      {% include 'simple_recipes/carousel_component.html' %}
    </div>
  {% endif %}

  <div class="small-space"></div>
  
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Title -->
    <div class="s12 field label prefix border">
      <i class="fa-regular fa-newspaper"></i>
      <input 
        id="id_title" 
        maxlength="50" 
        name="title" 
        required 
        type="text" 
        {% if article.title %}
          value="{{article.title}}"
        {% endif %}
      />
      <label>Title*</label>
    </div>

    <!-- Categories -->
    <div class="field label suffix border">
      <select
        id="id_categories"
        name="categories"
        required
      >
        <option value="" disabled>No category selected</option>
        {% for category in categories %}
          {% if category in article.categories.all %}
            <option value="{{category.id}}" selected="">
              {{category.name}}
            </option>
          {% else %}
            <option value="{{category.id}}">
              {{category.name}}
            </option>
          {% endif %}
        {% endfor %}
      </select>
      <label>Category*</label>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  
    <!-- Initialize the Summernote editor -->
    <script type="text/javascript">
      $(document).ready(function() {
        $('#id_body').summernote({
          // tabSize: 2,
          iconSize: 5,
          fontSize: 12,
          height: 380,
          toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['view', ['fullscreen', 'codeview', 'help']]
          ]
        });
      });
    </script>

    <div class="center-align">
      <i class="fa-regular fa-pen-to-square"></i>
      <label for="id_body">Recipe* (HTML text editor below)</label>
      <div class="field textarea" style="height: 90%">
        <textarea 
          id="id_body"
          name="body"
          placeholder="Write your recipe here, there is no character number limit"
        >{{article.body}}</textarea>
      </div>
    </div>
  
    <div class="field">
      <input class="primary responsive square round" type="submit" value="Submit" />
    </div>
  </form>
</div>
  
{% endblock content %}