{% load static %}
{% block content %}

{% if pictures.count > 0 %}
  <!-- Show carousel -->
  <div class="row scroll">
    {% for picture in pictures %}
      <img 
        class="small-height"
        src="{% static picture.image.url %}" 
        alt="Recipe picture"
      >
    {% endfor %}
  </div>
  
  <div class="small-space"></div>
  
  {% if article.author.user.id == request.user.id %}
    <div class="center-align">
      <!-- UploadPictures Modal Trigger -->
      <button 
        class="small-round" 
        data-ui="#upload-pictures-modal"
      >
        <span>Upload Pictures</span>
        <i class="fa-solid fa-cloud-arrow-up"></i>
      </button>
      <!-- UploadPictures Modal body -->
      <dialog id="upload-pictures-modal" class="dialog">
        <h6 class="center-align">Upload Pictures</h6>
        <form 
          action="{% url 'upload-pictures' article.id %}" 
          method="POST" 
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="field">
            <button>
              <i class="fa-regular fa-image"></i>
              <span>Select files</span>
              <input 
                accept="image/*" 
                id="id_image" 
                multiple=""
                name="image" 
                type="file" 
                required
              >
            </button>
          </div>
          
          <nav class="center-align">
            <button 
              class="small-round error" 
              data-ui="#upload-pictures-modal"
            >
              Cancel
            </button>
            <input 
              class="button small-round" 
              type="submit" 
              value="Submit" 
            />
          </nav>
        </form>
      </dialog>

      <!-- deletePictures modal trigger -->
      <button 
        class="small-round error" 
        data-ui="#delete-pictures-modal"
      >
        <span>Delete Pictures</span>
        <i class="fa-regular fa-trash-can"></i>
      </button>
      <!-- deletePictures modal body -->
      <dialog id="delete-pictures-modal" class="dialog">
        <h6 class="center-align">Delete Pictures</h6>
        {% for picture in pictures %}
          <article 
            class="center-align" 
            style="padding-bottom: 0.5rem"
          >
            <div class="s6">
              <img 
                class="small-height small-width" 
                src="{% static picture.image.url %}" 
                alt="{{picture.image}}"
              >
            </div>
            <div class="s2">
              <bold>{{picture.image}}</bold>
              
              <div class="small-space"></div>
              
              <a 
                href="{% url 'delete-picture' picture.image %}" 
                class="button small-round error"
              >
                <span>Delete</span>
                <i class="fa-regular fa-trash-can"></i>
              </a>
            </div>
          </article>
        {% endfor %}
        <nav class="center-align">
          <button class="small-round" data-ui="#delete-pictures-modal">
            Cancel
          </button>
        </nav>
      </dialog>

      <!-- end deletePictures modal -->
    </div>
  {% endif %}
{% else %}
  {% if article.author.user.id == request.user.id %}
    <div class="center-align">
      <!-- UploadPictures Modal Trigger -->
      <button 
        class="small-round" 
        data-ui="#upload-pictures-modal"
      >
        <span>Upload Pictures</span>
        <i class="fa-solid fa-cloud-arrow-up"></i>
      </button>
      <!-- UploadPictures Modal Structure -->
      <dialog id="upload-pictures-modal" class="dialog">
        <h6 class="center-align">Upload Pictures</h6>
        <form 
          action="{% url 'upload-pictures' article.id %}" 
          method="POST" 
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="field">
            <button>
              <i class="fa-regular fa-image"></i>
              <span>Select files</span>
              <input 
                accept="image/*" 
                id="id_image" 
                multiple=""
                name="image" 
                type="file" 
                required
              >
            </button>
          </div>

          <nav class="center-align">
            <button 
              class="small-round error" 
              data-ui="#upload-pictures-modal"
            >
              Cancel
            </button>
            <input 
              class="button small-round" 
              type="submit" 
              value="Submit" 
            />
          </nav>
        </form>
      </dialog>
    </div>
  {% endif %}
{% endif %}

{% endblock content %}
