{% block content %}

<h4 class="center-align">Tags</h4>
<div class="s12 m3 l3">
  <a class="row wave" href="{% url 'home' %}">
    <h6 class="link max">All</h6>
  </a>
  {% for category in categories %}
    <a class="row wave" href="{% url 'home' %}?cat={{category.name}}">
      <h6 class="link max">{{ category }}</h6>
      <span class="badge primary square none">
        {{category.categoryOf.all.count}}
      </span>
    </a>
  {% endfor %}
</div>


<div class="tabs">
  <!-- Pagination -->
  {% if num_pages > 1 %}
    {% if categories.has_previous %}
      <a 
        class="link"
        href="{% url 'home' %}?cat_page={{categories.previous_page_number}}"
      >
        Previous
      </a>
    {% else %}
      <a class="link active" aria-disabled>First</a>
    {% endif %}
    
    {% if categories.has_next %}
      <a
        class="link"
        href="{% url 'home' %}?cat_page={{categories.next_page_number}}"
      >
        Next
      </a>
    {% else %}
      <a class="link active" aria-disabled>Last</a>
    {% endif %}
  {% endif %}
</div>

{% endblock content %}