{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="medium no-margin">
  <form method="POST" action="">
  {% csrf_token %}
    <img width="420" src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" alt="">
    
    <div class="field label prefix border">
      <i class="fa-regular fa-user"></i>
      <input name="username" type="text"/>
      <label>User name</label>
    </div>

    <div class="field label prefix border">
      <i class="fa-solid fa-key"></i>
      <input type="password" name="password" />
      <label>Password</label>
    </div>

    <div class="field">
      <input class="primary responsive square round" type="submit" value="Login" />
    </div>
    
    <div>
      <p>
        Not registered yet? <a class="link" href="{% url 'register' %}">Register</a>
      </p>
    </div>
    
    <div>
      <p>
        Password forgotten? <a class="link" href="{% url 'reset_password' %}">Reset password</a>
      </p>
    </div>
  </form>
</div>
{% endblock content %}