{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="medium">
  <form method="POST" action="">
  {% csrf_token %}
    <img width="420" src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" alt="">

    <div class="field label prefix border">
      <i class="fa-regular fa-user"></i>
      <input 
        autocapitalize="none" 
        autocomplete="username" 
        autofocus=""
        maxlength="150" 
        name="username" 
        type="text" 
        required
      />
      <label>User name</label>
    </div>

    <div class="field label prefix border">
      <i class="fa-solid fa-key"></i>
      <input 
        autocomplete="new-password"
        class="uk-width-1-1 uk-form-large" 
        name="password1" 
        type="password" 
        required
      />
      <label>Password</label>
    </div>

    <div class="field label prefix border">
      <i class="fa-solid fa-key"></i>
      <input 
        class="uk-width-1-1 uk-form-large" 
        type="password" 
        name="password2" 
        autocomplete="new-password" 
        required
      />
      <label>Confirm password</label>
    </div>

    <div class="field">
      <input class="primary responsive square round" type="submit" value="Register" />
    </div>

    <div>
      <p>
        Already registered? <a class="link" href="{% url 'login' %}">Log in</a>
      </p>
    </div>
  </form>
</div>
{% endblock content %}