{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="uk-height-1-1 uk-container-center">
  <form method="POST" action="" class="uk-panel uk-panel-box uk-form">
  {% csrf_token %}
    <h5 class="center-align">Enter a new password</h5>

    <div class="small-space"></div>

    <img 
      alt=""
      width="420" 
      src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" 
    >

    <div class="medium-space"></div>
  
    <p class="center-align">
      Please set a new password.
      It shall not be too similar to your username,
      nor too common.
    </p>

    <div class="field label prefix border">
      <i class="fa-solid fa-key"></i>
      <input 
        type="password" 
        name="new_password1" 
        autocomplete="new-password" 
        required 
        id="id_new_password1"
      />
      <label>New password</label>
    </div>

    <div class="field label prefix border">
      <i class="fa-solid fa-key"></i>
      <input 
        type="password" 
        name="new_password2" 
        autocomplete="new-password" 
        required 
        id="id_new_password2"
      />
      <label>Confirm password</label>
    </div>

    <div class="field">
      <input class="primary responsive square round" type="submit" value="Update password" />
    </div>
  </form>
</div>

{% endblock content %}