{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="uk-height-1-1 uk-container-center">
  <div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 250px;">
      <img class="uk-margin-bottom" width="420" height="360" src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" alt="">
      
      <form method="POST" action="" class="uk-panel uk-panel-box uk-form">
      {% csrf_token %}
        <h3 class="uk-text-center">Enter new password</h3>
        <p class="uk-text-center">
          Please set a new password.
          It shall not be too similar to your username,
          and not too common.
        </p>

        <div class="uk-form-row">
          <div class="uk-inline">
            <i class="uk-icon-key"></i>
            <label class="uk-form-label" for="id_new_password1">New password:</label>
            <input 
              class="uk-input" 
              type="password" 
              name="new_password1" 
              autocomplete="new-password" 
              required="" 
              id="id_new_password1"
              placeholder=""
              />
          </div>
        </div>
          
        <div class="uk-form-row">
          <div class="uk-inline">
            <i class="uk-icon-key"></i>
            <label class="uk-form-label" for="id_new_password2">Confirm password:</label>
              <input 
                class="uk-input" 
                type="password" 
                name="new_password2" 
                autocomplete="new-password" 
                required="" 
                id="id_new_password2"
                placeholder=""
              />
          </div>
        </div>

        <br /><br />

        <div class="uk-form-row">
          <input class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit" value="Update Password" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}