{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="uk-height-1-1 uk-container-center">
  <div class="uk-vertical-align uk-text-center uk-height-1-1" >
    <div class="uk-vertical-align-middle" style="width: 350px;">
      <img class="uk-margin-bottom" width="420" height="360" src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" alt="">
      
      <h3>Password reset sent</h3>
      <p class="uk-text-center">
        We have emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
      </p>

      <p class="uk-text-center">
        If you do not receive an email, please ensure you have entered the address you registered with, and check your spam folder.
      </p>

      <br /><br />

      <p class="uk-text-center"><a href="{% url 'login' %}">Log in</a></p>
    </div>
  </div>
</div>

{% endblock content %}