{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="uk-height-1-1 uk-container-center">
  <div class="uk-vertical-align uk-text-center uk-height-1-1" >
    <div class="uk-vertical-align-middle" style="width: 350px;">
      <img class="uk-margin-bottom" width="420" height="360" src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" alt="">
      
      <h3>Password reset complete</h3>
      <p class="uk-text-center">
        Your password has been set,<br />
        You may login with your new password.
      </p>

      <br /><br />

      <div class="uk-form-controls">
        <p class="uk-text-center"><a href="{% url 'login' %}">Log in</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}