{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="medium no-margin">
  <h5 class="center-align">Password reset sent</h5>

  <div class="small-space"></div>
  
  <img 
    alt=""
    width="420" 
    src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" 
  >

  <div class="medium-space"></div>
  
  <p class="center-align">
    We have emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
  </p>

  <p class="center-align">
    If you do not receive an email, please ensure you have entered the address you registered with, and check your spam folder.
  </p>

  <div class="small-space"></div>

  <a class="link" href="{% url 'login' %}">Log in</a>
</div>

{% endblock content %}