{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="uk-height-1-1 uk-container-center">
  <div class="uk-vertical-align uk-text-center uk-height-1-1" >
    <div class="uk-vertical-align-middle" style="width: 350px;">
      <img class="uk-margin-bottom" width="420" height="360" src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" alt="">
      
      <form method="POST" action="" class="uk-panel uk-panel-box uk-form">
      {% csrf_token %}
        <h3>Password reset</h3>
        <p class="uk-text-center">
          Have you forgotten your password?<br />
          Just enter your email address below<br />
          and reset your access
        </p>

        <div class="uk-inline">
          <i class="uk-icon-envelope"></i>
          <label for="id_email">Email:</label>
          <input 
            id="id_email"
            class="uk-input" 
            type="email" 
            name="email"
            autocomplete="email"
            maxlength="254"
            required="" 
          />
        </div>

        <br /><br />

        <div class="uk-form-controls">
          <p>
            <input class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit" value="Reset my password" />
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}