{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="">
  <h5 class="center-align">Password reset complete</h5>
  
  <div class="small-space"></div>

  <img 
    alt=""
    width="420" 
    src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" 
  >

  <div class="medium-space"></div>
  
  <p class="center-align">
    Your password has been set, try your new password.
  </p>

  <div class="small-space"></div>

  <a class="link" href="{% url 'login' %}">Log in</a>
</div>

{% endblock content %}