{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="medium no-margin">
  <form method="POST" action="" class="uk-panel uk-panel-box uk-form">
  {% csrf_token %}
    <h5 class="center-align">Password reset</h5>

    <div class="small-space"></div>
    
    <img 
      alt=""
      width="420" 
      src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2" 
    >

    <div class="medium-space"></div>
    
    <p class="center-align">
      Enter your email address below to reset your access
    </p>

    <div class="field label prefix border">
      <i class="fa-regular fa-envelope"></i>
      <input 
        id="id_email"
        type="email" 
        name="email"
        autocomplete="email"
        maxlength="254"
        required
      />
      <label>Email</label>
    </div>

    <div class="field">
      <input class="primary responsive square round" type="submit" value="Reset my password" />
    </div>
  </form>
</div>

{% endblock content %}
