{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="s12 m10 l10 center-align">
  <h5 class="center-align">
    Edit your profile | <a class="link" href="{% url 'user-profile' request.user.id %}">View your profile</a>
  </h5>
  
  <p class="secondary-border">
    * Fields with an asterisk are mandatory
  </p>
  
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="s12 field label prefix border">
      <i class="fa-regular fa-user"></i>
      <input 
        id="id_name" 
        maxlength="50" 
        name="name" 
        required 
        type="text" 
        {% if profile.name != None %}
          value="{{profile.name}}"
        {% else %}
          placeholder="What is your full name?"
        {% endif %}
      />
      <label for="id_name">Full Name*</label>
    </div>
    
    <div class="s12 field label prefix border">
      <i class="fa-solid fa-earth-americas"></i>
      <input 
        id="id_location" 
        maxlength="50" 
        name="location" 
        type="text" 
        {% if profile.location != None %}
            value="{{profile.location}}"
        {% else %}
            placeholder="Location"
        {% endif %}
      />
      <label for="id_location">Location</label>
    </div>
    
    <div class="center-align">
      <i class="fa-regular fa-newspaper"></i>
      <label for="id_bio">Bio (Up to 200 characters)</label>
      <div class="field textarea border extra">
        <textarea
          id="id_bio"
          maxlength="200"
          name="bio"
        >{{profile.bio}}</textarea>
      </div>
    </div>
    
    <div class="center-align">
      <label>Profile picture:</label>
      <div class="small-space"></div>
      {{ form.avatar }}
    </div>

    <!-- <div class="field">
      <button>
        <i class="fa-regular fa-image"></i>
        <span>Update profile picture</span>
        <input 
          accept="image/*" 
          id="id_image" 
          multiple=""
          name="avatar" 
          type="file" 
        >
      </button>
    </div> -->

    <div class="field">
      <input class="primary responsive square round" type="submit" value="Update" />
    </div>
  </form>
</div>

{% endblock content %}