<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- UiKit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css" /> <!-- uk-min -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/components/slider.css" integrity="sha512-pFX5ddP8AGB2r2hb+a86J2ofirQ8DP9/abDWMJU7ufJFBofk1yjhN/LYQiIknR/M+N20xseBjIJ5OO5MHi8iXA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> <!-- uk-slider -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/components/slidenav.css" integrity="sha512-X5MiGS6BiKQQdt2/q5bVIDnkmqd6gycuBa9TVxH3RgSMema3ggxKx0z2kZCTA8tA9WOhY6U28PAezSOX3HlepQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> <!-- uk-slidenav -->
  <!-- Summernote CSS -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

  <!-- JQuery JS -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <!-- UiKit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script> <!-- uk-min -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/components/slider.js" integrity="sha512-XQspfMCjhy6XG6y22B5MXQI9tXtgE/apFKDrCWwjJBEx+Q75E9wAu7sxJlq5YzdnlsS5cel0pEGcMFFd+kUiZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> <!-- uk-slider -->
  <!-- Summernote editor JS -->
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  
  <title>Simple Recipes</title>
</head>
<body>
  <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    {% include 'navbar.html' %}
    {% include 'messages.html' %}
    
    <div class="uk-grid" data-uk-grid-margin>
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>
</html>