{% load static %}

{% if messages %}
  {% for message in messages %}
    <div 
      {% if not message.tags %}
        class="snackbar active top primary-border"
      {% elif message.tags == 'success' %}
        class="snackbar active top primary"
      {% elif message.tags == 'warning' %}
        class="snackbar active top orange3"
      {% elif message.tags == 'error' %}
        class="snackbar active top error"
      {% endif %}
      id={{ forloop.counter }}
    >
      <div class="max">{{ message }}</div>
      <button 
        {% if not message.tags %}
          class="inverse circle"
        {% elif message.tags == 'success' %}
          class="inverse circle"
        {% elif message.tags == 'warning' %}
          class="inverse orange3 circle"
        {% elif message.tags == 'error' %}
          class="inverse error circle"
        {% endif %}
        onclick="document.getElementById({{ forloop.counter }}).classList.remove('active')"
      >
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </div>
  {% endfor %}
{% endif %}
